Flask==2.3.3
Flask-Cors==4.0.0
gunicorn==21.2.0

numpy
pandas
scipy
matplotlib

tensorflow==2.13.0
Pillow==10.0.0
opencv-python-headless

python-box==6.0.2
pyYAML
ensure==1.0.2
joblib
tqdm
